.activity-link-button {
  line-height: 45px;
}

@media screen and (max-width: 768px) {
  .activity-title {
    font-size: 2.0rem !important;
  }
  .row-padding {
    display: inline-block !important;
  }
}

.row-padding {
  display: none;
}