blockquote {
  border-left: 5px solid #bbb;
}

h5 {
  color: rgba(0, 0, 0, 0.6) !important;
}

@media screen and (max-width:800px){
  .row-name {
    padding: 20px 30px !important;
  }
  .metro blockquote {
    border-left: none;
    content: none;
  }
}