#profile-container {
  float: right;
  img {
    width: 100px;
    float: right;
  }
  h2 {
    margin-top: 45px;
    float: right;
  }
}

#homepage-github {
  float: right;
  #header-github-button {
    float: left;
  }
  .name, i {
    color: white;
  }
}

@media screen and (max-width: 800px) {
  #homepage-github {
    // padding-bottom: 20px;
    display: none;
  }
}

// iPhone
@media screen and (max-width: 350px) {
  #profile-container {
    padding-bottom: 20px;
    h2 {
    font-size: 22px;
    }
  }
  .sub-title{
    text-align: center;
  }
}

//ticker
.ticker div {
  display: inline-block;
  word-wrap: break-word;
  // float: right;
  font-size: 2.0rem;
}