$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  // padding-top: 10px;
  // padding-bottom: 10px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  padding-top: 10px;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 1180px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 10px;
  }

  .row-name {
    // padding: 10px 40px 20px 50px !important;
    padding: 15px 0 ;
  }

  .android-icon img {
    width: 500px !important;
  }
}

@media screen and (min-width: 800px) {

}

@media screen and (max-width: 800px) {
  .cycle-img.cycle-img-small {
    max-width: 100px !important;
  }
  .lang-h2 {
    font-size: 2.2rem !important;
  }
}

@media screen and (max-width: 320px) {
  .iphone-header {
    display: block !important;
  }
}

.iphone-header {
  display: none;
  text-align: center;
}

.iphone-header button{
  cursor: default !important;
}

#time-tile {
  padding-top: 20px;
  pointer-events : none;
}

.row-name {
  padding: 20px 5px;
  border: 1px #aaa solid;
  position: relative;
  margin: 0 0 10px 0;
  background-color: #fdfdfd !important;
  min-height: 100px;
}

.cycle-img {
  max-width: 130px !important;
}

.h2-title {
  border-bottom: solid 2px #bbb;
}

p {
  word-wrap: break-word;
}

.cycle-img-center {
  margin: 0 auto;
  display: block;
}

.text-center {
  text-align: center;
}

.gray-color {
  color: rgba(0, 0, 0, 0.6) !important;
}

em {
  word-wrap: break-word;
}

.android-row {
  margin: 0;
}

.android-icon {
  // opacity: 1;
  img {
    cursor: pointer;
    width: 70%;
    display: block;
    margin: 0 auto;
    margin-top: -300px;
  }
  h1 {
    text-align: center;
  }
}

.page-reload {
  cursor: pointer;
}

.active {
  cursor: default;
}

.performance-timing {
  color: white;
}

.photo-item {
  width: 25%;
}
