<link rel="stylesheet" href="styles/accounts.css">

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-cyan fg-white">
          <i class="icon-twitter on-left"></i>Twitter
          <a href="http://twitter.com/about_hiroppy" class="link-box">
            <button class="bg-cyan link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: about_hiroppy</p>
          <p>Frequency: high</p>
          <p>Note: Botとして8時,20時に天気のつぶやきと<a href="http://place.about-hiroppy.org">現在の場所</a>の記録を行なっている</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-darkBlue fg-white">
          <i class="icon-facebook on-left"></i>Facebook
          <a href="https://www.facebook.com/abouthiroppy" class="link-box">
            <button class="bg-darkBlue link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: abouthiroppy</p>
          <p>Frequency: high</p>
          <p>Note: 連絡手段として利用している</p>
          <p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
          <i class="icon-skype on-left"></i>Skype
        </div>
        <div class="panel-content">
          <p>Id: about19924029</p>
          <p>Frequency: high</p>
          <p>Note: 最近はもっぱらゲーム専用</p>
        </div>
      </div>
    </div>
  </div> <!-- endrow-->

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-gray fg-white">
          <i class="icon-github on-left"></i>Github
          <a href="http://github.com/abouthiroppy" class="link-box">
            <button class="bg-gray link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: abouthiroppy</p>
          <p>Frequency: often</p>
          <p>Note: OSSにできるものだけ置いている</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-cobalt fg-white">
          <i class="icon-bitbucket on-left"></i>Bitbucket
          <a href="http://bitbucket.org/abouthiroppy" class="link-box">
            <button class="bg-cobalt link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: abouthiroppy</p>
          <p>Frequency: high</p>
          <p>Note: 仕事と自分のプライベート開発用</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-lime fg-white">
          <i class="icon-qiita on-left"></i>Qiita
          <a href="http://qiita.com/about_hiroppy" class="link-box">
            <button class="bg-lime link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: about_hiroppy</p>
          <p>Frequency: row</p>
          <p>Note: ロム専だし投稿してない</p>
        </div>
      </div>
    </div>
  </div> <!--endrow-->

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-teal fg-white">
          <i class="icon-foursquare on-left"></i>Foursquare
          <a href="https://ja.foursquare.com/about_hiroppy" class="link-box">
            <button class="bg-teal link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: about_hiroppy</p>
          <p>Frequency: high</p>
          <p>Note: 自分の現在の場所を記録</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-steel fg-white">
          <i class="icon-steam on-left"></i>Steam
          <a href="http://steamcommunity.com/profiles/76561198112864945/" class="link-box">
            <button class="bg-steel link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: about_hiroppy</p>
          <p>Frequency: often</p>
          <p>Note: 心の癒し</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-orange fg-white">
          <i class="icon-atnd on-left"></i>ATND
          <a href="http://atnd.org/users/130582" class="link-box">
            <button class="bg-orange link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: about_hiroppy</p>
          <p>Frequency: row</p>
          <p>Note: 勉強会参加記録</p>
        </div>
      </div>
    </div>
  </div> <!--endrow-->

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-darkCobalt fg-white">
          <i class="icon-aoj on-left"></i>AOJ
          <a href="http://judge.u-aizu.ac.jp/onlinejudge/user.jsp?id=about" class="link-box">
            <button class="bg-darkCobalt link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: about</p>
          <p>Frequency: row</p>
          <p>Note: 大学1年生の頃にやっていた</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-crimson fg-white">
          <i class="icon-Wonderfl on-left"></i>Wonderfl
          <a href="http://wonderfl.net/user/about" class="link-box">
            <button class="bg-crimson link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: about</p>
          <p>Frequency: row</p>
          <p>Note: ASの勉強で使っていた</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-darkMagenta fg-white">
          <i class="icon-jsdo on-left"></i>Jsdo.it
          <a href="http://jsdo.it/about_hiroppy" class="link-box">
            <button class="bg-darkMagenta link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
          <p>Id: about_hiroppy</p>
          <p>Frequency: row</p>
          <p>Note: canvasの勉強で使っていた</p>
        </div>
      </div>
    </div>
  </div>
</div>