<link rel="stylesheet" href="styles/accounts.css">

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-cyan fg-white">
          <i class="icon-twitter on-left"></i>Twitter
          <a href="http://twitter.com/about_hiroppy" class="link-box">
            <button class="bg-cyan link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
        test
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-darkBlue fg-white">
          <i class="icon-facebook on-left"></i>Facebook
          <a href="http://twitter.com/about_hiroppy" class="link-box">
            <button class="bg-darkBlue link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
        test
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-lightBlue fg-white">
          <i class="icon-skype on-left"></i>Skype
        </div>
        <div class="panel-content">
          about19924029
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-cyan fg-white">
          <i class="icon-github on-left"></i>Github
          <a href="http://twitter.com/about_hiroppy" class="link-box">
            <button class="bg-cyan link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
        test
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-cobalt fg-white">
          <i class="icon-bitbucket on-left"></i>Bitbucket
          <a href="http://twitter.com/about_hiroppy" class="link-box">
            <button class="bg-cobalt link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
        test
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel">
        <div class="panel-header bg-cyan fg-white">
          <i class="icon-twitter on-left"></i>Twitter
          <a href="http://twitter.com/about_hiroppy" class="link-box">
            <button class="bg-cyan link-button"><i class="icon-link on-left"></i>Link</button>
          </a>
        </div>
        <div class="panel-content">
        test
        </div>
      </div>
    </div>
  </div>
</div>

<!-- steam -->
<!-- http://steamcommunity.com/profiles/76561198112864945/ -->