<link rel="stylesheet" href="styles/blog.css">
<script src="scripts/controllers/blog.js"></script>

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row-name">
        <blockquote>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <img src="images/programming-logo.jpg" class="cycle polaroid shadow">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <h2>programming</h2>
              <h5>start on 2012-05-21</h5>
              <a href="http://d.hatena.ne.jp/about_hiroppy/">
                <button class="image-button bg-darkCyan fg-white">Link
                  <i class="icon-link bg-cyan fg-white"></i>
                </button>
              </a>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row-name">
        <blockquote>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <img src="images/daily-logo.jpg" class="cycle polaroid shadow">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <h2>daily life</h2>
              <h5>start on 2012-12-06</h5>
              <a href="http://about-hiroppy.hatenablog.com/">
                <button class="image-button bg-darkGreen fg-white">Link
                  <i class="icon-link bg-green fg-white"></i>
                </button>
              </a>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row-name">
        <blockquote>
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <img src="images/boost-logo.png" class="cycle polaroid shadow">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <h2>Boost study group in my Lab</h2>
              <h5>start on 2012-06-28 </h5>
              <h5>finished</h5>
              <a href="https://sites.google.com/site/boostmianqianghuiinipl/">
                <button class="image-button bg-darkTeal fg-white">Link
                  <i class="icon-link bg-teal fg-white"></i>
                </button>
              </a>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
</div>