<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <h1>Laptop</h1>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <img src="images/MBA.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <h2 class="h2-title">Mac Book Air</h2>
              <ul class="unstyled">
                <li>
                  <h3>OS</h3>
                  <ul>
                    <li>
                      <em>- OS X</em>
                      <p></p>
                    </li>
                  </ul>
                </li>

                <li>
                  <h3>Performance</h3>
                  <ul>
                    <li>
                      <em>- RAM: 4.00GB</em>
                    </li>
                    <li>
                      <em>- Processor: Intel Core i5</em>
                      <p></p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <img src="images/vaio.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <h2 class="h2-title">VAIO Z2</h2>
              <ul class="unstyled">
                <li>
                  <h3>OS</h3>
                  <ul>
                    <li>
                      <em>- windows7 Ultimate</em>
                    </li>
                    <li>
                      <em>- Linux Mint Cinnamon</em>
                      <p></p>
                    </li>
                  </ul>
                </li>
                <li>
                  <h3>Performance</h3>
                  <ul>
                    <li>
                      <em>- RAM: 8.00GB</em>
                    </li>
                    <li>
                      <em>- Processor: Intel Core i7-2640M</em>
                      <p></p>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-name">
      <h1>Keyboard</h1>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <img src="images/realforce.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <h2 class="h2-title">Realforce</h2>
              <em>REALFORCE91UBK-S</em>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <img src="images/majestouch.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <h2 class="h2-title">Majestouch</h2>
              <em>赤軸 FKBN91MRL/NFB2</em>
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-name">
      <h1>Server</h1>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <img src="images/sakura.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <h2 class="h2-title">Sakura Internet</h2>
              <em>Rental(Standard)</em>
              <p></p>
              <em>VPS(1GB)</em>
              <p></p>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
              <img src="images/key.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12">
              <h2 class="h2-title">Local(Home)</h2>
              <em>private,遊び鯖</em>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
