<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <h2>大乱闘スマッシュブラザーズ</h2>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <img src="images/mrgw.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <h2 class="h2-title">Note</h2>
              <p>人生で一番やっているゲーム(X)</p>
              <p>週1ぐらいでみんなで練習をしている</p>
              <p>メタナイトの時だけピクオリかファルコで対策している</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h2 class="h2-title">Results</h2>
              <ul class="unstyled">
                <li>
                  <h3>2012</h3>
                  <ul>
                    <li>
                      <em>大学内大会 - 優勝</em>
                      <br>
                      <em>使用キャラ - Mr.G&W</em>
                    </li>
                  </ul>
                </li>
                <li>
                  <h3>2013</h3>
                  <ul>
                    <li>
                      <em>大学内大会 - 優勝</em>
                      <br>
                      <em>使用キャラ - Mr.G&W</em>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-name">
      <h2>DARK SOULS</h2>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <img src="images/darksoul.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <h2 class="h2-title">Note</h2>
              <p>人間性を失っていくゲーム</p>
              <p>侵入して攻略者の邪魔をして気持ちよくなっている</p>
              <p>自分の唯一のストレス発散ゲームであった</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-name">
      <h2>Terraria</h2>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <img src="images/terarria.png" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <h2 class="h2-title">Note</h2>
              <p>いつも友達とやっていた</p>
              <p>召喚士最強である</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-name">
      <h2>Goat Simulator</h2>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <img src="images/goats.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <h2 class="h2-title">Note</h2>
              <p>mgからsteam経由で誕生日プレゼントとしてもらった</p>
              <p>最強だと思うゲーム</p>
              <p>誰もcoopしてくれない(泣)</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-name">
      <h2>MPO+</h2>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12">
              <img src="images/mpo.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-5 col-sm-5 col-xs-12">
              <h2 class="h2-title">Note</h2>
              <p>headshotゲー</p>
              <p>スマブラの次にやりこんでいた</p>
              <p>蟹(テクニック)が好きであった</p>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h2 class="h2-title">Results</h2>
              <em>オンラインランキング入り(100位中?位)</em>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>