<div class="header">
<!--         <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/about">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul> -->
<!--         <h3 class="text-muted">metroHomepage</h3> -->

  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div id="profile-container">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-7">
            <h2>about_hiroppy</h2>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <img src="images/101010.GIF" alt="profile-image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="span2 " id="homepage-github">
        <div class="text-center" data-hint="this site's source">
          <button class="image-button bg-cobalt">
            <span class="name">Github</span>
            <i class="icon-github bg-lightBlue"></i>
            <a href="http://github.com/abouthiroppy/homePage"></a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <p> ここにblogの最新記事を流す</p>
    </div>
  </div>
</div>