<!-- <script src="Metro-UI-CSS/min/metro.min.js"></script> -->

<div class="header" ng-controller="HeaderCtrl">
  <div class="row">
    <div class="col-xs-12 iphone-header">
      <button class="command-button inverse">
        <i class="icon-share-3 on-right"></i>
          WELCOME TO MY SITE!
        <small>I am Programmer,I have no life.</small>
      </button>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div id="profile-container">
        <div class="row">
          <div class="col-md-7 col-sm-7 col-xs-7">
            <h2>about_hiroppy</h2>
          </div>
          <div class="col-md-5 col-sm-5 col-xs-5">
            <img src="images/101010.gif" alt="profile-image">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <a href="https://github.com/abouthiroppy/metroHomePage">
        <div class="span2 " id="homepage-github">
          <div class="text-center" data-hint="this site's source" id="header-github-button">
            <button class="image-button bg-cobalt">
              <span class="name">Github</span>
              <i class="icon-github bg-lightBlue"></i>
            </button>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-12">
<!--       <h2 class="h2-title sub-title">latest article
        <a href="http://d.hatena.ne.jp/about_hiroppy/">
          <button class="bg-steel fg-white"><i class="icon-link"></i></button>
        </a>
      </h2>  -->      
      <h2 class="h2-title sub-title">現在こちらに移行中!
        <a href="https://github.com/abouthiroppy/mattya">
          <button class="bg-steel fg-white"><i class="icon-github"></i></button>
        </a>
      </h2>
    </div>
    <div class="col-md-9 col-sm-8 col-xs-12 ticker-article">
      <div class="ticker">
        <ul>
        </ul>
      </div>
    </div>
  </div>
</div>
