<script src="Metro-UI-CSS/min/metro.min.js"></script>

<div class="navbar">
  <div class="navbar-content">
    <a href="/" class="element"> about_hiroppy <sup>1.1.0</sup></a>
    <span class="element-divider"></span>

    <a class="pull-menu" href=""></a>
    <ul class="element-menu">
      <li>
        <a class="dropdown-toggle" href="#">Base CSS</a>
        <ul class="dropdown-menu" data-role="dropdown">
          <li><a href="requirements.html">Requirements</a></li>
          <li>
            <a href="#" class="dropdown-toggle">General CSS</a>
            <ul class="dropdown-menu" data-role="dropdown">
              <li><a href="global.html">Global styles</a></li>
              <li><a href="grid.html">Grid system</a></li>
              <div class="divider"></div>
              <li><a href="typography.html">Typography</a></li>
              <li><a href="tables.html">Tables</a></li>
              <li><a href="forms.html">Forms</a></li>
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="images.html">Images</a></li>
            </ul>
          </li>
          <li class="divider"></li>
          <li><a href="responsive.html">Responsive</a></li>
          <li class="disabled"><a href="layouts.html">Layouts and templates</a></li>
          <li class="divider"></li>
          <li><a href="icons.html">Icons</a></li>
        </ul>
      </li>
      <li>
        <a class="dropdown-toggle"  href="#">Community</a>
        <ul class="dropdown-menu" data-role="dropdown">
          <li class="disabled"><a href="http://blog.metroui.net">Blog</a></li>
          <li class="disabled"><a href="http://forum.metroui.net">Community Forum</a></li>
          <li class="divider"></li>
          <li><a href="https://github.com/olton/Metro-UI-CSS">Github</a></li>
        </ul>
      </li>
    </ul>
    <div class="no-tablet-portrait">
      <span class="element-divider"></span>
      <a class="element brand" href="#"><span class="icon-spin"></span></a>
      <a class="element brand" href="#"><span class="icon-printer"></span></a>
      <span class="element-divider"></span>

      <div class="element place-right">
        <a class="dropdown-toggle" href="#"><span class="icon-cog"></span></a>
        <ul class="dropdown-menu place-right" data-role="dropdown">
          <li><a href="#">Products</a></li>
          <li><a href="#">Download</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Buy Now</a></li>
        </ul>
      </div>
      <span class="element-divider place-right"></span>
      <!-- <img class="image-left place-right" src="images/101010.gif"/> -->
    </div>
  </div>
</div>

<nav class="breadcrumbs">
  <ul>
    <li><a href="#">Home</a></li>
    <li><a href="#">Library</a></li>
    <li class="active"><a href="#">Data</a></li>
  </ul>
</nav>