<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1>2014-08-07</h1>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <ul class="unstyled">
            <li>
              <h2 class="h2-title"><i class="icon-bug"></i>bug fix</h2>
              <ul>
                <li>
                  <em>- 特になし</em><br>
                  <p></p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <ul class="unstyled">
            <li>
              <h2 class="h2-title"><i class="icon-history"></i>history</h2>
              <ul>
                <li>
                  <em>- 公開</em><br>
                  <p></p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <ul class="unstyled">
            <li>
              <h2 class="h2-title"><i class="icon-calendar"></i>tasks</h2>
              <ul>
                <li>
                  <em>- photographsのサイトが重い(Firefoxのみ)</em><br>
                  <em>- photographsの中の画像のサムネイル作成</em><br>
                  <em>- <a href="https://github.com/abouthiroppy/metroHomePage/issues/6">issue #6</a>の解決</em><br>
                  <em>- HTML5Modeの適応</em><br>
                  <p></p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>