<link rel="stylesheet" href="styles/environment.css">

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h1>2014-08-06</h1>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <ul class="unstyled">
            <li>
              <h2 class="h2-title"><i class="icon-bug"></i>bug fix</h2>
              <ul>
                <li>
                  <em>- test</em>
                  <p></p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <ul class="unstyled">
            <li>
              <h2 class="h2-title"><i class="icon-history"></i>history</h2>
              <ul>
                <li>
                  <em>- 昔のサイトを変更 old1 -> old2</em>
                  <p></p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <ul class="unstyled">
            <li>
              <h2 class="h2-title"><i class="icon-calendar"></i>tasks</h2>
              <ul>
                <li>
                  <em>- test</em>
                  <p></p>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>