<link rel="stylesheet" href="styles/environment.css">

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <img src="images/labelial.png" class="cycle polaroid shadow cycle-img cycle-img-center">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2 class="h2-title">Labelial</h2>
          <h4 class="gray-color">Version: 1.2.0</h4>
          <h4 class="gray-color">OS: iOS 5,6,7</h4>
          <h5 class="gray-color">CreationDate: 2013-10-07</h5>
          <a href="https://itunes.apple.com/us/app/labelial/id722047338?l=ja&ls=1&mt=8">
            <button class="image-button bg-darkCobalt fg-white">AppStore
              <i class="icon-download bg-cobalt fg-white"></i>
            </button>
          </a>
          <a href="http://about-hiroppy.com/Labelial/index.html">
            <button class="image-button bg-darkGreen fg-white">HomePage
              <i class="icon-link bg-green fg-white"></i>
            </button>
          </a>
        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
          <br><br>
          <p>アプリを起動した瞬間にメモを取れる</p>
          <p>通知センターにメモを置いておくことが可能</p>
          <p>検索をかけたりツイートしたりできる</p>
          <p>洗練されたUI設計</p>
        </div>

      </div>
    </div>
  </div>
</div>