<div class="grid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
            <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
      <div class="tile bg-cyan" id="github-tile">
        <div class="tile-content icon">
          <i class="icon-github"></i>
        </div>
        <div class="tile-status">
          <span class="name">Github</span>
        </div>
        <a href="http://github.com/abouthiroppy"></a>
      </div>
    </div>
  </div>
</div>
