<!-- <script src="Metro-UI-CSS/min/metro.min.js"></script> -->

<!-- header -->
<ng-include src="'views/header.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">

      <!-- time -->
      <div class="tile double bg-emerald" id="time-tile" >
        <!-- <div id="tile-padding"></div> -->
        <div class="times" data-role="times" data-style-background="bg-lightBlue" data-style-divider="fg-lightBlue"></div>
        <div class="countdown" data-role="countdown" data-style-background="bg-teal" data-style-foreground="fg-yellow"></div>
        <div class="tile-status">
          <span class="name">Time</span>
        </div>
      </div>

      <!-- twitter -->
      <a href="http://twitter.com/about_hiroppy">
        <div class="tile bg-cyan" id="twitter-tile">
          <div class="tile-content icon">
            <i class="icon-twitter"></i>
          </div>
          <div class="tile-status">
            <span class="name">Twitter</span>
          </div>
        </div>
      </a>

      <!-- facebook -->
      <a href="http://www.facebook.com/abouthiroppy">
        <div class="tile bg-darkBlue" id="facebook-tile">
          <div class="tile-content icon">
            <i class="icon-facebook"></i>
          </div>
          <div class="tile-status">
            <span class="name">Facebook</span>
          </div>
        </div>
      </a>

      <!-- github -->
      <a href="http://github.com/abouthiroppy">
        <div class="tile bg-darkCyan" id="github-tile">
          <div class="tile-content icon">
            <i class="icon-github"></i>
          </div>
          <div class="tile-status">
            <span class="name">Github</span>
          </div>
        </div>
      </a>

      <!-- All accounts -->
      <a href="#/accounts">
        <div class="tile bg-dark" id="another-account-tile">
          <div class="tile-content icon">
            <i class="icon-user-2"></i>
          </div>
          <div class="tile-status">
            <span class="name">Accounts</span>
          </div>
        </div>
      </a>

      <!-- Environment -->
      <a href="#/environment">
        <div class="tile bg-lightOlive" id="my-Environment-tile">
          <div class="tile-content icon">
            <i class=" icon-accessibility"></i>
          </div>
          <div class="tile-status">
            <span class="name">Environment</span>
          </div>
        </div>
      </a>

      <!-- blog -->
      <a href="#/blog">
        <div class="tile bg-dark" id="blog-tile">
          <div class="tile-content icon">
            <i class="icon-pencil"></i>
          </div>
          <div class="tile-status">
            <span class="name">Blog</span>
          </div>
        </div>
      </a>

      <!-- Flash -->
      <a href="http://about-hiroppy.com/flash/">
        <div class="tile double" id="flash-tile">
          <div class="tile-content image-set">
            <img src="images/flash-bg1.jpg">
            <img src="images/flash-bg2.jpg">
            <img src="images/flash-bg3.jpg">
            <img src="images/flash-bg4.jpg">
            <img src="images/flash-bg5.jpg">
          </div>
          <div class="tile-status">
            <span class="name">Flash</span>
          </div>
        </div>
      </a>

      <!-- record-my-place -->
      <a href="http://about-hiroppy.org">
        <div class="tile bg-darker double" id="record-my-place-tile">
          <div class="tile-content icon">
            <i class="icon-rocket"></i>
          </div>
          <div class="tile-status">
            <span class="name">RecordMyPlace</span>
          </div>
        </div>
      </a>

      <!-- windows App -->
      <a href="#/windowsApp">
        <div class="tile bg-lightBlue" id="windows-app-tile">
          <div class="tile-content icon">
            <i class="icon-windows"></i>
          </div>
          <div class="tile-status">
            <span class="name">Windows App</span>
          </div>
        </div>
      </a>

      <!-- iPhone App -->
      <a href="#/iphoneApp">
        <div class="tile bg-gray" id="iphone-app-tile">
          <div class="tile-content icon">
            <i class="icon-apple"></i>
          </div>
          <div class="tile-status">
            <span class="name">iPhone App</span>
          </div>
        </div>
      </a>

      <!-- web app -->
      <a href="#/webApp">
        <div class="tile bg-steel" id="web-app-tile">
          <div class="tile-content icon">
            <i class="icon-laptop"></i>
          </div>
          <div class="tile-status">
            <span class="name">Web App</span>
          </div>
        </div>
      </a>

      <!-- Programming -->
      <a href="#/programming">
        <div class="tile bg-dark" id="link-tile">
          <div class="tile-content icon">
            <i class="icon-cube"></i>
          </div>
          <div class="tile-status">
            <span class="name">Programming</span>
          </div>
        </div>
      </a>



      <!-- slideshow -->
      <a href="#/picture">
        <div class="tile double live" data-role="live-tile" data-effect="slideRight" id="picture-tile">
          <div class="tile-content image">
            <img src="images/pic_profile.jpg">
          </div>
          <div class="tile-content image">
            <img src="images/pic_1.jpg">
          </div>
          <div class="tile-content image">
            <img src="images/pic_2.jpg">
          </div>
          <div class="tile-content image">
            <img src="images/pic_3.jpg">
          </div>
          <div class="tile-content image">
            <img src="images/pic_4.jpg">
          </div>
          <div class="tile-content image">
            <img src="images/pic_5.jpg">
          </div>
        </div>
      </a>

      <!-- information -->
      <a href="#/info">
        <div class="tile double" id="information-tile">
          <div class="tile-content image">
            <img src="images/info.jpg">
          </div>
          <div class="tile-status">
            <span class="name">Information</span>
          </div>
        </div>
      </a>

      <!-- profile -->
      <a href="#/profile">
        <div class="tile double" id="profile-tile">
          <div class="tile-content image">
            <img src="images/profile.jpg">
          </div>
          <div class="tile-status">
            <span class="name">Profile</span>
          </div>
        </div>
      </a>

      <!-- Game -->
      <a href="#/game">
        <div class="tile bg-olive" id="game-tile">
          <div class="tile-content icon">
            <i class="icon-screen"></i>
          </div>
          <div class="tile-status">
            <span class="name">Game</span>
          </div>
        </div>
      </a>

      <!-- 爆発させたい -->
      <div class="tile bg-orange" id="explode-tile">
        <div class="tile-content icon">
          <i class="icon-smiley"></i>
        </div>
      </div>

    </div>
  </div>
</div>
