<link rel="stylesheet" href="/shadowbox/shadowbox.css">

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <div class="row picture-flame">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <!-- <div class="tab-control" data-role="tab-control" data-effect="fade"> -->
            <!-- <ul class="tabs"> -->
              <!-- <li class="active"><a href="#all">ALL</a></li> -->
              <!-- <li><a href="#object">Object</a></li> -->
              <!-- <li><a href="#cute">Cute</a></li> -->
              <!-- <li class="place-right"><a href="#_page_4"><i class="icon-cog"></i></a></li> -->
            <!-- </ul> -->
            <!-- <div class="frames"> -->
              <div class="frame" id="all">
              </div>
              <!-- <div class="frame" id="object"></div> -->
              <!-- <div class="frame" id="cute"></div> -->
            <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
    </div>
  </div>
</div>

<script src="shadowbox/shadowbox.js"></script>
<script src="metro-UI-CSS/js/metro-tab-control.js"></script>
