<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <h1>Basic Info</h1>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="images/choko1.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h2 class="h2-title">Base</h2>
              <ul class="unstyled">
                <li>
                  <h4>name</h4>
                  <ul>
                    <li>
                      <em>廣戸 裕大</em>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>native place</h4>
                  <ul>
                    <li>
                      <em>愛知県</em>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>birthday</h4>
                  <ul>
                    <li>
                      <em>1992-04-29</em>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>mail</h4>
                  <ul>
                    <li>
                      <em>dreams.come.true.about[at]gmail.com</em>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h2 class="h2-title">Company</h2>
              <p class="text-alert">自分の発言は所属する会社の発言とは無関係です</p>
              <ul class="unstyled">
                <li>
                  <h4>2015~</h4>
                  <ul>
                    <li>
                      <em>Dwango</em>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>2014~</h4>
                  <ul>
                    <li>
                      <em>Eyes, JAPAN</em>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>2013 InternShip</h4>
                  <ul>
                    <li>
                      <em>Cyber Agent</em>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
              <h2 class="h2-title">University</h2>
              <ul class="unstyled">
                <li>
                  <h4>2011~</h4>
                  <ul>
                    <li>
                      <em>University Of Aizu</em>
                    </li>
                  </ul>
                </li>
                <li>
                  <h4>lab</h4>
                  <ul>
                    <li>
                      <em>IPL(Image Processing Laboratory)</em>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-name">
      <h1>Hobby</h1>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="images/programming.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
              <h2 class="h2-title">Programming</h2>
              <p>時代の流れ早すぎて追いつけない</p>
              <p>無料の遊びである</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="images/sumabura.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
              <h2 class="h2-title">大乱闘スマッシュブラザーズ</h2>
              <p>強くなりたい</p>
              <p>唯一4年ぐらい続けているゲーム</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="images/sizuno.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
              <h2 class="h2-title">麻雀</h2>
              <p>咲の影響で2014年から始めた</p>
              <p>役しかわからない</p>
              <p>牌効率と点数計算勉強する(予定)</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row-name">
      <h1>Singer</h1>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="images/DCT.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
              <h2 class="h2-title">Dreams Come True</h2>
              <p>小学4年生の頃から好きだった</p>
              <p>今でも一番好きで癒しになっている</p>
              <p>ファンクラブ会員である</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="images/taylor.png" class="cycle polaroid shadow cycle-img cycle-img-center">
              <h2 class="h2-title">Taylor Swift</h2>
              <p>唯一聞く洋楽</p>
              <p>ウキウキする(小並感)</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <img src="images/abc.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
              <h2 class="h2-title">Acid Black Cherry</h2>
              <p>周りの影響</p>
              <p>燃える,燃焼する,熱い</p>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>