<link rel="stylesheet" href="styles/environment.css">

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <h1>Language</h1>
      <br>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/js.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">JavaScript</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/coffee.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">CoffeeScript</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/node.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">Node.js</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/as.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">ActionScript 3.0</h2>
          <br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/php.jpg" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">PHP</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/whitespace.jpg" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">WhiteSpace</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/cplus.jpg" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">C++</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/csharp.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">C#</h2>
          <br>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="row-name">
      <h1>Editor</h1>
      <br>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/emacs.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">Emacs</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/sublime.jpg" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">Sublime Text 3</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/phpstorm.jpg" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">PhpStorm</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/titanium.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">Titanium</h2>
          <br>
        </div>
      </div>
    </div>
  </div>

    <div class="row">
    <div class="row-name">
      <h1>Tool</h1>
      <br>
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/yeoman.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">Yeoman</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/git.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">Git</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/vagrant.jpg" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">Vagrant</h2>
          <br>
        </div>
        <div class="col-md-3 col-sm-3 col-xs-6">
          <img src="images/nginx.png" class="cycle polaroid shadow cycle-img cycle-img-center cycle-img-small">
          <h2 class="text-center lang-h2">Nginx</h2>
          <br>
        </div>
      </div>
    </div>
  </div>

</div>