<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="text-center">
            <iframe src="//www.slideshare.net/slideshow/embed_code/39079770" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/about_hiroppy/mvc-39079770" title="ブラック企業から学ぶMVCモデル" target="_blank">ブラック企業から学ぶMVCモデル</a> </strong> from <strong><a href="//www.slideshare.net/about_hiroppy" target="_blank">Yuta Hiroto</a></strong> </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="text-center">
          <iframe src="//www.slideshare.net/slideshow/embed_code/43459997" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/about_hiroppy/alt03" title="Flux Application Architecture" target="_blank">Flux Application Architecture</a> </strong> from <strong><a href="//www.slideshare.net/about_hiroppy" target="_blank">Yuta Hiroto</a></strong> </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="text-center">
            <iframe src="//www.slideshare.net/slideshow/embed_code/39462934" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="//www.slideshare.net/about_hiroppy/alt01" title="Alt01" target="_blank">Alt01</a> </strong> from <strong><a href="//www.slideshare.net/about_hiroppy" target="_blank">Yuta Hiroto</a></strong> </div>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="text-center">
            <iframe src="//www.slideshare.net/slideshow/embed_code/39463283" width="425" height="355" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe> <div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/about_hiroppy/ss-39463283" title="スピード違反で捕まらないようにする！" target="_blank">スピード違反で捕まらないようにする！</a> </strong> from <strong><a href="http://www.slideshare.net/about_hiroppy" target="_blank">Yuta Hiroto</a></strong> </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

