<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <img src="images/place.png" class="cycle polaroid shadow cycle-img cycle-img-center">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2 class="h2-title">record my place</h2>
          <h4 class="gray-color">Version: 0.9.0(β)</h4>
          <h5 class="gray-color">CreationDate: 2014-06-29</h5>
          <a href="http://about-hiroppy.org">
            <button class="image-button bg-darkGreen fg-white">HomePage
              <i class="icon-link bg-green fg-white"></i>
            </button>
          </a>
          <a href="http://d.hatena.ne.jp/about_hiroppy/20140629/1404033094">
            <button class="image-button bg-darkTeal fg-white">Design
              <i class="icon-link bg-teal fg-white"></i>
            </button>
          </a>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
          <br><br>
          <p>自分の場所を記録しているサイト</p>
          <p>TwitterとFoursqureから取得している</p>
          <p>構成とかはDesignリンクから参照</p>
          <p>Node.js,Angularjs,Expressjs</p>
        </div>
      </div>
    </div>

    <div class="row-name">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <img src="images/compare.png" class="cycle polaroid shadow cycle-img cycle-img-center">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2 class="h2-title">AOJ_Compare</h2>
          <h4 class="gray-color">Version: 1.0.0</h4>
          <h5 class="gray-color">CreationDate: 2012-05-09</h5>
          <a href="http://about-hiroppy.com/AOJ_Compare/">
            <button class="image-button bg-darkGreen fg-white">HomePage
              <i class="icon-link bg-green fg-white"></i>
            </button>
          </a>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
          <br><br>
          <p>AOJのユーザとユーザを比較して解いてない問題を出す</p>
          <p>最大2人まで比較可能</p>
          <p>Arenaでの問題設定に役立つ</p>
        </div>
      </div>
    </div>

    <div class="row-name">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <img src="images/compare.png" class="cycle polaroid shadow cycle-img cycle-img-center">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2 class="h2-title">AOJ_Compare_n</h2>
          <h4 class="gray-color">Version: 1.0.0</h4>
          <h5 class="gray-color">CreationDate: 2012-06-21</h5>
          <a href="http://about-hiroppy.com/AOJ_Compare_n/">
            <button class="image-button bg-darkGreen fg-white">HomePage
              <i class="icon-link bg-green fg-white"></i>
            </button>
          </a>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
          <br><br>
          <p>AOJのユーザとユーザを比較して解いてない問題を出す</p>
          <p>最大20人まで比較可能</p>
          <p>Arenaでの問題設定に役立つ</p>
        </div>
      </div>
    </div>

    <div class="row-name">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <img src="images/aoi.png" class="cycle polaroid shadow cycle-img cycle-img-center">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2 class="h2-title">あおいちゃん@AOJ</h2>
          <h4 class="gray-color">Version: 1.0.0</h4>
          <h5 class="gray-color">CreationDate: 2011-05-09</h5>
          <a href="https://twitter.com/AOJ_bot">
            <button class="image-button bg-darkCyan fg-white">Twitter
              <i class="icon-link bg-cyan fg-white"></i>
            </button>
          </a>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12">
          <br><br>
          <p>AOJのユーザがランキングに入っていたらつぶやく</p>
          <p>各問題の順位(time,size各々)で10位以内</p>
          <p>PHP</p>
        </div>
      </div>
    </div>

  </div>
</div>