<link rel="stylesheet" href="styles/environment.css">

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <img src="images/kaomozi.jpg" class="cycle polaroid shadow cycle-img cycle-img-center">
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12">
          <h2 class="h2-title">楽ラク顔文字(仮)</h2>
          <h4 class="gray-color">Version: 1.0.0</h4>
          <h4 class="gray-color">OS: Windows7 and later</h4>
          <h5 class="gray-color">CreationDate: 2011-06-17</h5>
          <a href="http://about-hiroppy.com/exe/kaomozi.exe">
            <button class="image-button bg-darkCyan fg-white">Download
              <i class="icon-download bg-cyan fg-white"></i>
            </button>
          </a>
        </div>

        <div class="col-md-5 col-sm-5 col-xs-12">
          <br><br>
          <p>気持ち悪い顔文字を扱うためのアプリ</p>
          <p>ワンクリックでクリップボードに保存できるので楽</p>
          <p>また作成も可能である</p>
          <p>C# .NET Frameworkを使用</p>
        </div>

      </div>
    </div>
  </div>
</div>