<link rel="stylesheet" href="styles/environment.css">

<ng-include src="'views/individualTemplete.html'"></ng-include>

<div class="grid">
  <div class="row">
    <div class="row-name">
      <blockquote>
        <div class="row">
          <div class="col-md-3 col-sm-3 col-xs-12">
            <img src="images/programming-logo.jpg" class="cycle polaroid shadow cycle-img">
          </div>
          <div class="col-md-9 col-sm-9 col-xs-12">
            <h2>programming</h2>
            <h5>start on 2012-05-21</h5>
            <a href="http://d.hatena.ne.jp/about_hiroppy/">
              <button class="image-button bg-darkCyan fg-white">Link
                <i class="icon-link bg-cyan fg-white"></i>
              </button>
            </a>
          </div>
        </div>
      </blockquote>
    </div>
  </div>
</div>